<div class="row table-tools">
	<div class="col-xs-12">
		<div class="btn-toolbar">

		</div>
	</div>
</div>
<div class="row" style="margin-bottom: 10px;">
	<div class="col-xs-6">
		<div class="btn-group">
			<button class="btn btn-sm btn-default" ng-click="open()">NEW</button>
			<button class="btn btn-sm btn-default" 
				ng-model="table.show_delete"
			  	btn-checkbox
			  	btn-checkbox-true="true"
			  	btn-checkbox-false="false" ng-disabled="table.show_trashed">EDIT</button>
			<button 
			  	class="btn btn-sm btn-default"
			  	ng-model="table.show_trashed"
			  	btn-checkbox
			  	btn-checkbox-true="true"
			  	btn-checkbox-false="false" ng-disabled="table.show_delete">RECOVER</button>
		</div>
	</div>
	<div class="col-xs-6">
		<pagination total-items="table.itemCount"
			ng-show="table.last_page > 1" 
			ng-model="table.page" 
			ng-change="tableRefresh()" 
			max-size="table.max_pages"
			class="pagination-sm"
			boundary-links="true"
			rotate="true" style="float: right;"></pagination>
	</div>
</div>
<div class="row table-list">
	<div class="col-xs-12">
		<div class="panel panel-default">
		<table class="table table-striped table-condensed">
		    <tr>
				<th ng-show="table.show_trashed || table.show_delete"></th>
				<th 
					ng-repeat="field in table.fields"
					ng-click="table.toggleOrder(field.name)"
					ng-hide="field.viewonly && table.show_trashed">
					<span ng-show="table.getOrder(field.name) == 'ASC'">
						<i class="glyphicon glyphicon-sort-by-attributes"></i>
					</span>
					<span ng-show="table.getOrder(field.name) == 'DESC'">
						<i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
					</span>
					<span>{{field.label}}</span>
				</th>
		    </tr>
		    <tr ng-repeat="record in table.records">
				<td ng-hide="!table.show_delete" style="width:2%">
					<a ng-click="table.destroy(record)" class="btn btn-xs btn-danger">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</td>
				<td ng-show="table.show_trashed" style="width:2%">
					<a ng-click="table.recover(record)" class="btn btn-xs btn-success">
						<i class="glyphicon glyphicon-share-alt"></i>
					</a>
				</td>
				<td ng-repeat="field in table.fields" 
					ng-hide="field.viewonly && table.show_trashed"
					class="col-xs-{{field.size || 3}}">{{table.getRecordValue(record, field)}}</td>
		    </tr>
		</table>
		</div>
	</div>
</div>