<div class="row">
	<div class="col-xs-6" nav-stats></div>
	<div class="col-xs-3">
		<div class="form-group">
			<label>Transaction Month</label>
	        <p class="input-group">
	            <input type="text" class="form-control" datepicker-options="{{datepickerOptions}}" datepicker-popup="yyyy-MM" ng-model="period" is-open="opened" ng-click="openCalendar($event)"/>
	            <span class="input-group-addon" ng-click="openCalendar($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</span>
	        </p>
		</div>
	</div>
</div>
<div class="row top7">
	<div class="col-xs-10">
		<table class="table table-striped table-bordered">
		    <tr>
				<th>Category</th>
				<th>Transactions</th>
				<th>Minimum</th>
				<th>Average</th>
				<th>Maximum</th>
				<th>Total</th>
		    </tr>
		    <tr ng-repeat="record in stats">
				<td>{{categoryByID(record.category_id).name}}</td>
				<td>{{record.count}}</td>
				<td>{{record.minimum}}€</td>
				<td>{{record.average}}€</td>
				<td>{{record.maximum}}€</td>
				<td>{{record.total}}€</td>
		    </tr>
		</table>
	</div>
</div>
