<div class="row">
	<div class="col-xs-6" nav-stats></div>
	<div class="col-xs-3">
		<div class="form-group">
			<label>Transaction Month</label>
	        <p class="input-group">
	            <input type="text" class="form-control" datepicker-options="{{datepickerOptions}}" datepicker-popup="yyyy" ng-model="period" is-open="opened" ng-click="openCalendar($event)"/>
	            <span class="input-group-addon" ng-click="openCalendar($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</span>
	        </p>
		</div>
	</div>
</div>
<div class="row">
	<ul class="col-xs-12 nav nav-pills">
		<li ng-class="{active: showList}"><a ng-click="toggle('showList')"><i class="glyphicon glyphicon-list"></i></a></li>
		<li ng-class="{active: showChart}"><a ng-click="toggle('showChart')"><i class="glyphicon glyphicon-signal"></i></a></li>
		<li ng-class="{active: showDebug}"><a ng-click="toggle('showDebug')"><i class="glyphicon glyphicon-cog"></i></a></li>
	</ul>
</div>
<div class="row">
	<div class="col-xs-12" ng-show="showChart">
		<nvd3-multi-bar-chart
	        data = "chartData"
	        showXAxis = "true"
	        showYAxis = "true"
	        tooltips = "true"
	        interactive = "true"
	        height="500"
	        showControls="true"
	        showLegend="true"
	        ></nvd3-multi-bar-chart>
	</div>
</div>
<div class="row top7">
	<div class="col-xs-12">
		<table class="table table-striped table-bordered" ng-show="showList">
		    <tr>
				<th>Category</th>
				<th>January</th>
				<th>February</th>
				<th>March</th>
				<th>April</th>
				<th>May</th>
				<th>June</th>
				<th>July</th>
				<th>August</th>
				<th>September</th>
				<th>October</th>
				<th>November</th>
				<th>December</th>
		    </tr>
		    <tr ng-repeat="serie in chartData">
				<td>{{serie.key}}</td>
				<td ng-repeat="v in serie.values">{{v[1]|number}}€</td>
		    </tr>
		</table>
	</div>
</div>
<div class="row top7">
	<div class="col-xs-6">
		<pre ng-show="showDebug">{{chartData|json}}</pre>
	</div>
</div>
