<div class="row">
	<form name="form" novalidate="">
		<div class="col-xs-6">
			<h3>Edit Group</h3>
			<div class="form-group">
				<label>Name</label>
				<input type="text" pattern=".{3,}" class="form-control" ng-model="record.name" placeholder="House mortage" required focus/>
			</div>
			<div class="form-group">
				<label>Description</label>
				<input type="text" class="form-control" ng-model="record.description" placeholder="payment"/>
			</div>
			<button ng-click="save(record)" class="btn" ng-disabled="form.$invalid">SAVE</button>
		</div>
		<div class="col-xs-4">
			<h3>Pick categories</h3>
			<ul class="list-group">
				<li ng-repeat="a in categories" class="list-group-item" ng-class="{'list-group-item-success': inGroup(a)}" ng-click="toggle(a)">
				{{a.name}}
				</li>
			</ul>
		</div>
	</form>
</div>